### Working with time and dates in pandas

In [2]:
import pandas as pd
df = pd.read_csv('7-8_uforeports.csv')
df

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [4]:
df.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [5]:
df['Time'] = pd.to_datetime(df.Time)

In [6]:
df

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00
5,Valley City,NaN,DISK,ND,1934-09-15 15:30:00
6,Crater Lake,NaN,CIRCLE,CA,1935-06-15 00:00:00
7,Alma,NaN,DISK,MI,1936-07-15 00:00:00
8,Eklutna,NaN,CIGAR,AK,1936-10-15 17:00:00
9,Hubbard,NaN,CYLINDER,OR,1937-06-15 00:00:00
10,Fontana,NaN,LIGHT,CA,1937-08-15 21:00:00
11,Waterloo,NaN,FIREBALL,AL,1939-06-01 20:00:00
12,Belton,RED,SPHERE,SC,1939-06-30 20:00:00
13,Keokuk,NaN,OVAL,IA,1939-07-07 02:00:00
14,Ludington,NaN,DISK,MI,1941-06-01 13:00:00
15,Forest Home,NaN,CIRCLE,CA,1941-07-02 11:30:00
16,Los Angeles,NaN,NaN,CA,1942-02-25 00:00:00
17,Hapeville,NaN,NaN,GA,1942-06-01 22:30:00
18,Oneida,NaN,RECTANGLE,TN,1942-07-15 01:00:00
19,Bering Sea,RED,OTHER,AK,1943-04-30 23:00:00
20,Nebraska,NaN,DISK,NE,1943-06-01 15:00:00
21,NaN,NaN,NaN,LA,1943-08-15 00:00:00
22,NaN,NaN,LIGHT,LA,1943-08-15 00:00:00
23,Owensboro,NaN,RECTANGLE,KY,1943-10-15 11:00:00
24,Wilderness,NaN,DISK,WV,1944-01-01 10:00:00
25,San Diego,NaN,CIGAR,CA,1944-01-01 12:00:00
26,Wilderness,NaN,DISK,WV,1944-01-01 12:00:00
27,Clovis,NaN,DISK,NM,1944-04-02 11:00:00
28,Los Alamos,NaN,DISK,NM,1944-06-01 12:00:00
29,Ft. Duschene,NaN,DISK,UT,1944-06-30 10:00:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,2000-12-28 18:00:00
18212,Carson,NaN,DISK,CA,2000-12-28 18:20:00
18213,Pasadena,GREEN,FIREBALL,CA,2000-12-28 19:10:00
18214,Austin,NaN,FORMATION,TX,2000-12-29 00:00:00
18215,El Campo,NaN,OTHER,TX,2000-12-29 09:00:00
18216,Garden Grove,ORANGE,LIGHT,CA,2000-12-29 16:10:00
18217,Berthoud Pass,NaN,TRIANGLE,CO,2000-12-29 19:30:00
18218,Sisterdale,NaN,DIAMOND,TX,2000-12-29 20:00:00
18219,Garden Grove,NaN,CHEVRON,CA,2000-12-29 20:30:00
18220,Shasta Lake,BLUE,DISK,CA,2000-12-29 20:30:00
18221,Franklin,NaN,DISK,NH,2000-12-29 20:50:00
18222,Albrightsville,NaN,OTHER,PA,2000-12-29 21:00:00
18223,Greenville,NaN,NaN,SC,2000-12-29 22:00:00
18224,Eufaula,NaN,DISK,OK,2000-12-29 23:30:00
18225,Simi Valley,NaN,FORMATION,CA,2000-12-30 10:00:00
18226,San Francisco,NaN,FORMATION,CA,2000-12-30 22:00:00
18227,San Francisco,NaN,TRIANGLE,CA,2000-12-30 22:00:00
18228,Kingsville,NaN,LIGHT,TX,2000-12-31 04:00:00
18229,Chicago,NaN,DISK,IL,2000-12-31 11:45:00
18230,Pismo Beach,NaN,OVAL,CA,2000-12-31 20:00:00
18231,Pismo Beach,NaN,OVAL,CA,2000-12-31 20:00:00
18232,Lodi,NaN,NaN,WI,2000-12-31 20:30:00
18233,Anchorage,RED,VARIOUS,AK,2000-12-31 21:00:00
18234,Capitola,NaN,TRIANGLE,CA,2000-12-31 22:00:00
18235,Fountain Hills,NaN,NaN,AZ,2000-12-31 23:00:00
18236,Grant Park,NaN,TRIANGLE,IL,2000-12-31 23:00:00
18237,Spirit Lake,NaN,DISK,IA,2000-12-31 23:00:00
18238,Eagle River,NaN,NaN,WI,2000-12-31 23:45:00
18239,Eagle River,RED,LIGHT,WI,2000-12-31 23:45:00
18240,Ybor,NaN,OVAL,FL,2000-12-31 23:59:00

#### The code changes the object type of the time column. Some attributes you can pull out of the column now:

In [9]:
df.Time.dt.hour.head()

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int64

In [10]:
df.Time.dt.weekday_name.head()

0     Sunday
1     Monday
2     Sunday
3     Monday
4    Tuesday
Name: Time, dtype: object

#### Some operations you can perform:

In [12]:
timestamp = pd.to_datetime('1/1/2000')
df.loc[df['Time'] >= timestamp]

                 City Colors Reported Shape Reported State                Time
15606     Bakersfield             NaN            NaN    CA 2000-01-01 00:01:00
15607   New York City             NaN         SPHERE    NY 2000-01-01 00:01:00
15608     Los Angeles             NaN            NaN    CA 2000-01-01 00:03:00
15609       San Diego           GREEN          LIGHT    CA 2000-01-01 00:23:00
15610         Laporte             NaN          OTHER    TX 2000-01-01 02:13:00
15611   Bellefontaine             RED          LIGHT    OH 2000-01-01 03:00:00
15612      Nellis AFB             NaN          LIGHT    NV 2000-01-01 03:30:00
15613          Clovis             NaN          LIGHT    CA 2000-01-01 05:00:00
15614          Gurnee             NaN          LIGHT    IL 2000-01-01 14:45:00
15615   San Francisco             NaN          LIGHT    CA 2000-01-01 16:20:00
15616         Medford             NaN      FORMATION    OR 2000-01-01 17:00:00
15617         Houston             NaN          FLASH    TX 2000-01-01 20:30:00
15618          Patoka             NaN       TRIANGLE    IL 2000-01-01 21:00:00
15619         Houston           GREEN         SPHERE    TX 2000-01-01 21:35:00
15620      Evansville             NaN          CIGAR    IN 2000-01-01 22:00:00
15621           Erath             NaN            EGG    LA 2000-01-01 23:00:00
15622   Coral Springs             NaN            NaN    FL 2000-01-01 23:30:00
15623    Jacksonville             NaN      RECTANGLE    FL 2000-01-02 00:00:00
15624            Mesa             NaN           OVAL    AZ 2000-01-02 00:30:00
15625        Chandler             NaN        DIAMOND    AZ 2000-01-02 18:30:00
15626        Murrieta             NaN       FIREBALL    CA 2000-01-02 19:33:00
15627       Kennewick             NaN          LIGHT    WA 2000-01-02 19:34:00
15628        Oroville             NaN          LIGHT    CA 2000-01-02 20:00:00
15629     Studio City            BLUE      RECTANGLE    CA 2000-01-02 21:00:00
15630   Anaheim Hills           GREEN          LIGHT    CA 2000-01-02 21:30:00
15631        Redlands           GREEN       FIREBALL    CA 2000-01-02 21:30:00
15632        Temecula           GREEN       FIREBALL    CA 2000-01-02 21:30:00
15633        Glendale             NaN       FIREBALL    CA 2000-01-02 21:33:00
15634   Big Bear Lake            BLUE          OTHER    CA 2000-01-02 21:35:00
15635       La Quinta             NaN      FORMATION    CA 2000-01-02 21:35:00
...               ...             ...            ...   ...                 ...
18211         Holyoke             NaN        DIAMOND    MA 2000-12-28 18:00:00
18212          Carson             NaN           DISK    CA 2000-12-28 18:20:00
18213        Pasadena           GREEN       FIREBALL    CA 2000-12-28 19:10:00
18214          Austin             NaN      FORMATION    TX 2000-12-29 00:00:00
18215        El Campo             NaN          OTHER    TX 2000-12-29 09:00:00
18216    Garden Grove          ORANGE          LIGHT    CA 2000-12-29 16:10:00
18217   Berthoud Pass             NaN       TRIANGLE    CO 2000-12-29 19:30:00
18218      Sisterdale             NaN        DIAMOND    TX 2000-12-29 20:00:00
18219    Garden Grove             NaN        CHEVRON    CA 2000-12-29 20:30:00
18220     Shasta Lake            BLUE           DISK    CA 2000-12-29 20:30:00
18221        Franklin             NaN           DISK    NH 2000-12-29 20:50:00
18222  Albrightsville             NaN          OTHER    PA 2000-12-29 21:00:00
18223      Greenville             NaN            NaN    SC 2000-12-29 22:00:00
18224         Eufaula             NaN           DISK    OK 2000-12-29 23:30:00
18225     Simi Valley             NaN      FORMATION    CA 2000-12-30 10:00:00
18226   San Francisco             NaN      FORMATION    CA 2000-12-30 22:00:00
18227   San Francisco             NaN       TRIANGLE    CA 2000-12-30 22:00:00
18228      Kingsville             NaN          LIGHT    TX 2000-12-31 04:00:00
18229         Chicago             NaN           DISK    IL 2000-12-31 11:45:00
18230     Pismo Beach             NaN           OVAL    CA 2000-12-31 20:00:00
18231     Pismo Beach             NaN           OVAL    CA 2000-12-31 20:00:00
18232            Lodi             NaN            NaN    WI 2000-12-31 20:30:00
18233       Anchorage             RED        VARIOUS    AK 2000-12-31 21:00:00
18234        Capitola             NaN       TRIANGLE    CA 2000-12-31 22:00:00
18235  Fountain Hills             NaN            NaN    AZ 2000-12-31 23:00:00
18236      Grant Park             NaN       TRIANGLE    IL 2000-12-31 23:00:00
18237     Spirit Lake             NaN           DISK    IA 2000-12-31 23:00:00
18238     Eagle River             NaN            NaN    WI 2000-12-31 23:45:00
18239     Eagle River             RED          LIGHT    WI 2000-12-31 23:45:00
18240            Ybor             NaN           OVAL    FL 2000-12-31 23:59:00

[2635 rows x 5 columns]

In [13]:
df.Time.max()- df.Time.min()

Timedelta('25781 days 01:59:00')

In [14]:
%matplotlib inline
df['Year'] = df.Time.dt.year
df.head()

,City,Colors Reported,Shape Reported,State,Time,Year
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00,1930
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00,1930
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00,1931
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00,1931
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00,1933